 #main {
    margin: 20px;
    padding: 20px;
} 
.division1{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.youtubeentry{
    display: flex;
    justify-content: center;
    margin: 20px;
}
#youfont{

    font-size: 300px;
    color: red;
    background-color: white;
}